<mat-toolbar class="toolbar">
  <span class="brand toolbar-title">{{ title }}</span>
  <span *ngIf="brandIcon">
    <a [routerLink]="[brandIcon.link]" routerLinkActive="router-link-active" ]>
      <img [src]="brandIcon.iconSrc" [alt]="brandIcon.iconAltText" />
      {{ brandIcon.label }}
    </a>
  </span>
  <mat-nav-list class="list-horizontal">
    <mat-list-item>
      <a mat-raised-button color="primary" [routerLink]="['/']">Home</a>
    </mat-list-item>
    <mat-list-item *ngFor="let link of links; index as i">
      <a mat-button color="accent" [ngClass]="link.style" [routerLink]="link.link">{{ link.label }}</a>
    </mat-list-item>
  </mat-nav-list>
  <span *ngIf="profileButton && isUserAuthenticated">
    <a [routerLink]="profileButton.link" mat-raised-button color="accent" (click)="authorizeUser()">{{ profileButton.label }}</a>
  </span>
  <span *ngIf="loginButton && !isUserAuthenticated">
    <a [routerLink]="loginButton.link" mat-raised-button color="accent" (click)="authorizeUser()">{{ loginButton.label }}</a>
  </span>
</mat-toolbar>
