<section class="home-container">
  <h2>Definitionem</h2>
  <div>
    <p>
      Te vel debet veniam. Ne soleat percipit eos. Prima legimus ea eum. Ad error labores gubergren usu, rebum bonorum at vix. Ut ius nisl case tincidunt, ad his dissentias neglegentur suscipiantur.
    </p>
    <p>
      Omnium placerat reprimique his ad. Ei sumo prima sea, no elit semper impedit mea. Ius soluta accusamus gloriatur an, idque singulis mei at. Ius an tempor convenire. Et pri wisi solet.
    </p>
  </div>
  <div class="home-card-container">
    <cbc-card *ngFor="let card of cards" [card]="card" class="home-card"></cbc-card>
  </div>
</section>
